# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: NMFS Openscapes JupyterHub Guide
author: NMFS Openscapes
logo: logo.png
only_build_toc_files: false

parse:
  # https://jupyterbook.org/content/content-blocks.html?highlight=myst%20substitution#define-substitutions-for-your-whole-book
  # https://jupyterbook.org/content/content-blocks.html#using-substitutions-in-links
  myst_substitutions:
    jupyterhub_url: "https://nmfs-openscapes.2i2c.cloud"
    contact_email: "nmfs.openscapes@noaa.gov"
    github_org_url: "https://github.com/oceanhackweek"
    book_repo: "oceanforge"
    website_url: "https://oceanhackweek.github.io/oceanforge/"
  myst_enable_extensions:
    # Defaults
    - dollarmath
    - linkify
    - substitution
    - colon_fence
    # Extras
    - html_image
  myst_url_schemes:
    https: null
    http: null
    mailto: null
    nb: /oceanforge/_sources/topics-skills/notebooks/{{path}}

# See https://jupyterbook.org/content/execute.html
execute:
  # NOTE: 'cache' to use jupyter-cache, or 'force' to run all
  execute_notebooks: off
  exclude_patterns:
    - "**/*.ipynb"
  allow_errors: true
  # Per-cell notebook execution limit (seconds)
  timeout: 300
  
# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Information about where the book exists on the web
repository:
  url: "https://github.com/oceanhackweek/oceanforge"
  path_to_book: book
  branch: main

# Bibliography
bibtex_bibfiles:
  - references.bib
sphinx:
  config:
    bibtex_reference_style: author_year  # or label, super, \supercite
    nb_merge_streams: true # stdout lines combined in output
    nb_custom_formats:
      .ipynb:
        - nbformat.reads
        - as_version: 4
        - false # setting to `true` breaks math for some reason, `false` uses MyST instead of Commmonmark

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_edit_page_button: true
  use_issues_button: true
  use_repository_button: true
  favicon: "img/favicon-16x16.png"
  # google_analytics_id: G-XXXXXXXXX
